
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_string.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <ul>
            <a href="login.html"><li class="header-1"> Выход</li></a>
            <li class="header-2"  align="center">Список дел</li>
            <li class="header-3" align="center">СЕГОДНЯ {{date_today|date:"d:m:Y"}}<p  class = "time" id="current_date_time_block"> </p></li>
        </ul>

        <div class="bt">
            <form class="form1" >
                 <button class="button1">Добавить</button>
            </form>
        <div class="content">
            {% for task in tasks %}

            {% include 'string.html' %}

            {% endfor %}

        </div>

        </div>
    </div>









    
</body>
</html>