{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Login</title>
</head>
<body class="content2">
        <form method="post">
            {% csrf_token %}
            <h1>login</h1>
            <p>Login</p>
            <input type="text" placeholder="Enter Login" name="login"/>
            <p>Password</p>
            <input type="password" placeholder="Enter Password" name="password"/>
            <input type="submit" value="enter"/>
        </form>
</body>