{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Login</title>

</head>

<body class="content2">
    <div >
        <form >
        <div class="container23">
        <h1>login</h1>
        <p>Пожалуйста заполните поля чтобы войти.</p>
        <hr>

        <label ><b>Login</b></label>
        <input type="text" placeholder="Enter Login" name="login" >

        <label ><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" >

        <hr>


      </from>
            <a href="index.html"><button type="submit" class="registerbtn">Go</button></a>
        </div>



    </div>

</body>
</html>